@font-face {
  font-family: 'Exo2.0';
  font-weight: 100;
  src: url(./Exo2.0-Thin.otf);
}

@font-face {
  font-family: 'TrebuchetMS';
  font-weight: 400;
  src: url(./TrebuchetMS.woff);
}

@font-face {
  font-family: 'TrebuchetMS-Bold';
  font-weight: 700;
  src: url(./TrebuchetMS-Bold.woff);
}